// ===========================
// c-loader-heart
// ===========================
@-webkit-keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  5% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  39% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  5% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  39% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
  }

  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}


