// =============
//  c-tab
// =============
.tab {
  display: -webkit-box;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    border: 1px solid #dedede;
    border-bottom: 2.5px solid #dedede;
    border-radius: 4px;

    color: #9f9f9f;
    cursor: pointer;
    padding: 1.2rem;
    &--active {
      background: #f6fff0;
      border-bottom: 2px solid $font-color_dark;
      color: #222;
      font-weight: bold;
    }
  }
}