// =============
//  p-loader
// =============
.loader {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  &__item {
    &--heart {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 32px 32px;
      transform-origin: 32px 32px;
      div {
        top: 23px;
        left: 19px;
        position: absolute;
        width: 26px;
        height: 26px;
        background: #e4406f;
        -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        &:before {
          content: " ";
          position: absolute;
          display: block;
          width: 26px;
          height: 26px;
          background: #e4406f;

          left: -17px;
          border-radius: 50% 0 0 50%;
        }
        &:after {
          content: " ";
          position: absolute;
          display: block;
          width: 26px;
          height: 26px;
          background: #e4406f;

          top: -17px;
          border-radius: 50% 50% 0 0;
        }
      }
    }
  }
}

.p-loader {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  &__item {
    &--heart {
      display: inline-block;
      position: relative;
      width: 64px;
      height: 64px;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform-origin: 32px 32px;
      transform-origin: 32px 32px;
      div {
        top: 23px;
        left: 19px;
        position: absolute;
        width: 26px;
        height: 26px;
        background: #e4406f;
        -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        &:before {
          content: " ";
          position: absolute;
          display: block;
          width: 26px;
          height: 26px;
          background: #e4406f;

          left: -17px;
          border-radius: 50% 0 0 50%;
        }
        &:after {
          content: " ";
          position: absolute;
          display: block;
          width: 26px;
          height: 26px;
          background: #e4406f;

          top: -17px;
          border-radius: 50% 50% 0 0;
        }
      }
    }
  }
}
