// =============
//  p-mypage
// =============

.mypage {
  &__container {
    display: flex;
    box-sizing: border-box;
    @include mq($breakpoint: sm){
      flex-wrap: wrap;
      margin: 0;
    }

    &Info {
      //完成後削除予定
      background: #f5f5f5;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      padding: $space_l $space_m;
      margin: 0 auto;
      margin-right: $space_l;
      width: 33%;
      @include mq($breakpoint: sm) {
        margin: 0;
        width: 100%;
      }
    }
    &Reports {
      //完成後削除予定
      //  ↑まで
      width: 66%;

      @include mq($breakpoint: sm) {
        width: 100%;
      }
    }
  }

  &__username {
    width: 100%;
    font-size: 1rem;
    text-align: center;
    margin-top: $space_xxl;
    margin-bottom: $space_s;
    &Area {
      position: relative;
      box-sizing: border-box;
      border-bottom: $font-color_dark dotted 1px;
    }
    &-span {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
  &__userInfo {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    margin-top: $space_xxl;
  }
  &__profArea {
    font-size: 1.5rem;
    position: relative;
    padding: $space_m;
  }

}