@import url(https://fonts.googleapis.com/css?family=Nunito);/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 14px;
}

body {
  color: #222;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

p,
a {
  -webkit-font-smoothing: antialiased;
}

main {
  margin-bottom: 6rem;
  margin-top: 7rem;
}

.navbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  height: 4rem;
  justify-content: space-between;
  left: 0;
  padding-right: 2%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
}

.navbar__brand {
  color: inherit;
  font-family: Merriweather, serif;
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
}

.navbar__brand:visited {
  color: inherit;
}

.navbar__brand:hover {
  opacity: 0.5;
}

.navbar__menu {
  align-items: center;
  display: flex;
}

.navbar__item {
  margin-left: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 2%;
}

.container--small {
  margin: 0 auto;
  max-width: 768px;
}

@media screen and (min-width: 415px) and (max-width: 768px) {
  .container--small {
    max-width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .container--small {
    max-width: 100%;
  }
}

.panel {
  border: 1px solid #dedede;
  margin-top: 1rem;
  padding: 1.5rem;
}

.btn {
  border: 1px solid #ed8ed5;
  border-radius: 0.25rem;
  color: #8a8a8a;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1;
  outline: none;
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: border-color 300ms ease-in-out, color 300ms ease-in-out;
}

.btn .icon {
  margin-right: 0.5em;
}

.btn:hover {
  color: inherit;
}

.btn--link {
  border: 0;
}

.btn--inverse {
  background: #ffd0ee;
  border-color: #ffd0ee;
  color: #222;
  transition: opacity 300ms ease-in-out;
}

.btn--inverse:hover {
  background: #ed8ed5;
  color: #222;
  opacity: 0.8;
}

@media screen and (max-width: 414px) {
  .btn--inverse {
    width: 100%;
    padding: 1rem 1rem;
    font-size: 1.2rem;
  }
}

.btn--fluid {
  width: 100%;
}

.form__item {
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: 15px;
  padding: 0.5em 0.75em;
  width: 100%;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
}

.form__output {
  display: block;
  margin-bottom: 1rem;
}

.form__btn {
  text-align: right;
}

.form__textarea {
  resize: none;
  height: 13rem;
}

@media screen and (max-width: 414px) {
  .form__textarea {
    height: 20rem;
  }
}

.tab {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.tab__item {
  border-bottom: 2px solid #dedede;
  color: #8a8a8a;
  cursor: pointer;
  margin: 0 1rem 0 0;
  padding: 1rem;
}

.tab__item--active {
  border-bottom: 2px solid #222;
  color: #222;
  font-weight: bold;
}

.footer {
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.1);
  border-top: 1px solid #f1f1f1;
  display: flex;
  height: 5rem;
  justify-content: center;
}

.errors {
  border: 1px solid #c7004c;
  border-radius: 0.25rem;
  color: #c7004c;
  margin-bottom: 1rem;
}

.pagination {
  text-align: right;
}

.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 32%);
}

.grid__item {
  margin-bottom: 2rem;
}

.title {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}

.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loader__item--heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}

.loader__item--heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #e4406f;
  -webkit-animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__item--heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #e4406f;
  left: -17px;
  border-radius: 50% 0 0 50%;
}

.loader__item--heart div:after {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #e4406f;
  top: -17px;
  border-radius: 50% 50% 0 0;
}

@-webkit-keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }

  5% {
    transform: scale(1.1);
  }

  39% {
    transform: scale(0.85);
  }

  45% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.9);
  }
}

.message {
  background: #D7F9EE;
  border: 1px solid #41e2b2;
  border-radius: 0.25rem;
  color: #117355;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.u__mt-l {
  margin-top: 15px;
}

.u__mt-xl {
  margin-top: 20px;
}

.u__mt-3l {
  margin-top: 40px;
}

.u__mb-l {
  margin-bottom: 15px;
}

.u__mb-xl {
  margin-bottom: 20px;
}

.u__mb-3l {
  margin-bottom: 40px;
}

.u__pd {
  padding: 5px 5px;
}

.u-overflow__hidden {
  overflow: hidden;
}

