// ==============
//  l-footer
//  =============

.allWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.l-allWrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}