// =============
//  l-grid
// =============
.grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 49%);
  @include mq($breakpoint: sm) {
    grid-template-columns: repeat(auto-fit, 100%);
    margin: 0 auto;
  }
  &__item {
    margin-bottom: 2rem;
  }
}

.l-grid {
  display: grid;
  grid-gap: 0 2%;
  grid-template-columns: repeat(auto-fit, 49%);
  @include mq($breakpoint: sm) {
    grid-template-columns: repeat(auto-fit, 100%);
    margin: 0 auto;
  }
  &__item {
    margin-bottom: 2rem;
  }
}