// ===============
// utility-space
// ===============
.u{
  &__mt-l {
    margin-top: $space_l;
  }
  &__mt-xl {
    margin-top: $space_xl;
  }
  &__mt-3l {
    margin-top: $space_3l;
  }

  &__mb-l {
    margin-bottom: $space_l;
  }
  &__mb-xl {
    margin-bottom: $space_xl;
  }
  &__mb-3l {
    margin-bottom: $space_3l;
  }

  &__pd {
    padding: $space_s $space_s;
  }


  &-overflow {
    &__hidden {
      overflow: hidden;
    }
  }
}